.static-ball-group {
    pointer-events: none;
    z-index: 10;
}

.static-ball-blue {
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.static-ball-white {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.05));
}


@media (max-width: 768px) {
    .static-ball-blue {
        r: 16;
    }
    .static-ball-white {
        r: 5;
    }
}