.circle-rotate-right,
.circle-rotate-left {
  animation: none;
  opacity: 1;
  transform-origin: 201.53px 203.03px;
}


.circle-rotate-right {
  transform: scale(1.025);
}


.circle-rotate-left {
  transform: scale(0.975);
}


.circle-rotate-right.animate {
  animation: rotateRight 6s linear infinite;
}


.circle-rotate-left.animate {
  animation: rotateLeft 6s linear infinite;
}


@keyframes rotateRight {
  from {
    transform: scale(1.025) rotate(0deg);
  }
  to {
    transform: scale(1.025) rotate(360deg);
  }
}

@keyframes rotateLeft {
  from {
    transform: scale(0.975) rotate(360deg);
  }
  to {
    transform: scale(0.975) rotate(0deg);
  }
}


@media (max-width: 768px) {
  .circle-rotate-right.animate,
  .circle-rotate-left.animate {
    animation: none;
    transform: scale(1.025) rotate(0deg);
  }

  .circle-rotate-left.animate {
    transform: scale(0.975) rotate(0deg);
  }
}