

@font-face {
  font-family: 'AAStetica';
  src: url('../fonts/AA Stetica Black_0.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


// @font-face {
//     font-family: 'AAStetica';
//     src: url('../fonts/AA Stetica Black Italic.otf') format('opentype');
//     font-weight: 900;
//     font-style: italic;
//     font-display: swap;
// }


@font-face {
  font-family: 'AAStetica';
  src: url('../fonts/AA Stetica Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'AAStetica';
  src: url('../fonts/AA Stetica Bold Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'AAStetica';
  src: url('../fonts/AA Stetica Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'AAStetica';
  src: url('../fonts/AA Stetica Medium Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'AAStetica';
  src: url('../fonts/AA Stetica Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'AAStetica';
  src: url('../fonts/AA Stetica Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'AAStetica';
  src: url('../fonts/AA Stetica Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'AAStetica';
  src: url('../fonts/AA Stetica Light Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}