@use "./colors.scss" as c;
@use "../styles/mixins.scss" as *;
@use "./fonts.scss";

.footer {
  &__inner {
    background: url("../images/footer-bg.jpg") no-repeat center;
    background-size: cover;
    margin: 60px 48px 26px 48px;
    padding-top: 80px;
    padding-bottom: 46px;
    border-radius: 50px;

    @media (max-width: 1600px) {
      margin: 48px 40px 26px 40px;
      padding-bottom: 29px;
    }
    
    @media (max-width: 1350px) {
      margin: 0;
      padding-top: 32px;
      padding-bottom: 32px;
      border-radius: 0;
    }

    @media (max-width: 750px) {
      padding-bottom: 21px;
    }
  }

  &__top {
    display: flex;
    margin-bottom: 57px;

    @media (max-width: 1350px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 57px;
      align-items: start;
      margin-bottom: 40px;

      .footer__logo {
        grid-column: 1;
        grid-row: 1;
      }

      .footer__navigation {
        grid-column: 1 / -1;
        grid-row: 2;
      }
      .footer__contacts {
        grid-column: 2;
        grid-row: 1;
        justify-self: end;
      }

    }

    @media (max-width: 750px) {
      grid-template-columns: 1fr;
      gap: 29px;

      .footer__contacts {
        grid-column: 1;
        grid-row: 2;
        justify-self: start;
        text-align: left;
        width: 100%;
      }

      .footer__navigation {
        grid-column: 1 / -1;
        grid-row: 3;
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
    }
  }

  &__logo {
    max-width: 227px;
    margin-right: 156px;


    @media (max-width: 1350px) {
      max-width: none;
    }

    svg {
      max-width: 274px;
      margin-bottom: 5px;

      @media (max-width: 1350px) {
        max-width: 227px;
      }
    }

    p {
      color: var(--Premium-wight, #FFF);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @media (max-width: 1600px) {
        font-size: 16px;
      }
      @media (max-width: 1350px) {
        font-size: 15px;
        margin-top: -13px;
      }

    }
  }

  &__navigation {
    display: flex;
    gap: 76px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  &__link {
    color: var(--Premium-wight, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all 0.3s ease;

    @media (max-width: 1600px) {
      font-size: 16px;
    }

    @media (max-width: 1350px) {
      font-size: 15px;
    }

    span {
      color: var(--Premium-wight, #FFF);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      transition: all 0.3s ease;

      @media (max-width: 1600px) {
        font-size: 16px;
      }
      @media (max-width: 1350px) {
        font-size: 15px;
      }

    }

    &:hover {
      color: #F83E49;

      span {
        color: #F83E49;
      }
    }
  }

  &__sublist {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 13px;
  }

  &__sublink {
    color: var(--Premium-wight, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (max-width: 1600px) {
      font-size: 16px;
    }

    @media (max-width: 1350px) {
      font-size: 15px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__contacts {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 27px;

    @media (max-width: 1350px) {
      gap: 15px;
    }
  }

  &__wrapper {
    display: flex;
    gap: 16px;
  }

  &__tg {
    display: inline-block;
    transition: all 0.3s ease;

    @media (max-width: 1350px) {
      svg {
        width: 42px;
        height: 42px;
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__block {
    display: flex;
    flex-direction: column;

    &:last-child {
      a {
        &:first-child {
          color: var(--Premium-wight, #FFF);
          text-align: right;
          font-size: 26px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          transition: all 0.3s ease;

          @media (max-width: 1600px) {
            font-size: 24px;
          }
          @media (max-width: 1350px) {
            font-size: 20px;
          }


          &:hover {
            color: #F83E49;
          }
        }

        &:nth-child(2) {
          color: var(--Premium-wight, #4EB5F2);
          font-size: 26px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          @media (max-width: 1600px) {
            font-size: 24px;
          }

          @media (max-width: 1350px) {
            font-size: 20px;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__bottom {
    display: flex;

    @media (max-width: 1700px) {
      flex-wrap: wrap;
      row-gap: 10px;
      justify-content: end;
    }

    @media (max-width: 750px) {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .copyright {
      margin-right: auto;
      color: var(--Premium-wight, #FFF);
      text-align: right;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @media (max-width: 1600px) {
        font-size: 16px;
      }

      @media (max-width: 1350px) {
        font-size: 15px;
        min-width: 213px;
        text-align: left;
      }

      @media (max-width: 820px) {
        min-width: 185px;
      }
    }

    .user-agreement-policy,
    .user-agreement,
    .personal-data {
       margin-right: 50px;

      @media (max-width: 1350px) {
        margin-right: 15px;
      }

      a {
        color: var(--Premium-wight, #FFF);
        text-align: right;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media (max-width: 1600px) {
          font-size: 16px;
        }
        @media (max-width: 1350px) {
          font-size: 15px;
        }


        &:hover {
          text-decoration: underline;
        }
      }
    }

    .development {
      
      @media (max-width: 1700px) {
        margin-right: 50px;
      }

      @media (max-width: 1350px) {
        margin-right: 15px;
      }


      a {
        color: #8B8B8B;
        text-align: right;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media (max-width: 1600px) {
          font-size: 16px;
        }
        @media (max-width: 1350px) {
          font-size: 15px;
        }


        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}