body {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  border: none;
  background: none;
  outline: none;
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  border: none;
  outline: none;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 1601px;
  margin: 0 auto;

  @media (max-width: 1800px) {
    max-width: 1501px;
  }

  @media (max-width: 1700px) {
    max-width: 1401px;
  }

  @media (max-width: 1600px) {
    max-width: 1206px;
  }

  @media (max-width: 1350px) {
    max-width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (max-width: 600px) {
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
}

input[type="number"] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

textarea {
  outline: none;
  resize: none;
}

h2 {
  color: #212529;
  font-size: 43px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media (max-width: 1600px) {
    font-size: 34px;
  }

  @media (max-width: 1350px) {
    font-size: 26px;
  }

  @media (max-width: 600px) {
    font-size: 22px;
  }
}

h3 {
  color: #212529;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
  
  @media (max-width: 1600px) {
    font-size: 24px;
    margin-bottom: 0;
  }

  @media (max-width: 1600px) {
    font-size: 20px;
    margin-bottom: 0;
  }

  @media (max-width: 600px) {
    font-size: 18px;
  }
}

h4 {
  color: #212529;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 99.995%;

  @media (max-width: 1600px) {
    font-size: 18px;
  }
}