body {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  border: none;
  background: none;
  outline: none;
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 1601px;
  margin: 0 auto;

  @media (max-width: 1700px) {
    max-width: 1401px;
  }

  @media (max-width: 1500px) {
    max-width: 1301px;
  }

  @media (max-width: 1400px) {
    max-width: 1206px;
  }

  @media (max-width: 1300px) {
    max-width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (max-width: 500px) {
    margin-left: 15px;
    margin-right: 15px;
  }
}

input[type="number"] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

textarea {
  outline: none;
  resize: none;
}

