@use "./colors.scss" as c;
@use "../styles/mixins.scss" as *;
@use "./fonts.scss";

html {
  //scroll-behavior: smooth;
}

body {
  display: flex;
  min-width: 100vw;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'AAStetica', sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

main {
  flex: 1 0 auto;
}

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
  }

  &__logo {
    max-width: 317px;

    @media (max-width: 600px) {
      max-width: 230px;

      svg {
        width: 100%;
      }
    }

    @media (max-width: 500px) {
      max-width: 180px;
    }

    @media (max-width: 420px) {
      max-width: 141px;
    }
  }

  &__mail {

    a {
      font-family: 'Alike Angular', sans-serif;
      font-size: 20px;
      font-weight: 400;
      color: c.$blue;
      border: none;
      outline: none;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }

      @media (max-width: 1300px) {
        font-size: 18px;
      }
      @media (max-width: 500px) {
        font-size: 16px;
      }
    }
  }
}

.stub {
  position: relative;
  overflow: hidden;
  min-height: 100%;


  @media (max-width: 750px) {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding-bottom: 38px;
  }

  .container {
    position: relative;
    padding-bottom: 62px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;

    @media (max-width: 750px) {
      padding-bottom: 0;
      min-height: auto;
    }
  }

  &__name {
    position: absolute;
    top: 30px;
    left: 0;

    @media (max-width: 750px) {
      position: static;
      margin-top: 22px;
    }

    h1 {
      max-width: 800px;
      margin-bottom: 15px;
      font-size: 46px;
      font-weight: bold;
      color: c.$black;

      @media (max-width: 1500px) {
        max-width: none;
      }

      @media (max-width: 1300px) {
        font-size: 32px;
        letter-spacing: 0.03em;
      }
      @media (max-width: 500px) {
        font-size: 26px;
      }
    }

    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: 0.03em;

      @media (max-width: 1300px) {
        font-size: 18px;
        line-height: 26px;
      }
      @media (max-width: 1300px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    height: 100%;

    @media (max-width: 1500px) {
      margin-top: 200px;
    }
    @media (max-width: 750px) {
      margin-top: 0;
      margin-bottom: 0;
      height: auto;
    }
  }

  &__left {
    width: 1357px;
    height: 801px;
    position: absolute;
    right: -320px;
    top: 35px;
    z-index: 1;

    .svg-animation-container {
      width: 100%;
      height: 100%;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    @media (max-width: 1700px) {
      width: 1257px;
      height: 701px;
      right: -340px;
      top: 120px;
    }

    @media (max-width: 1400px) {
      width: 1207px;
      height: 651px;
      top: 100px
    }

    @media (max-width: 1200px) {
      right: -400px;
    }

    @media (max-width: 1100px) {
      right: -480px;
    }
    @media (max-width: 1000px) {
      right: -550px;
    }

    @media (max-width: 850px) {
      width: 1157px;
      height: 601px;
      right: -550px;
    }

    @media (max-width: 750px) {
      position: static;
      transform: none;
      margin-left: -110px;
      margin-top: -30px;
      margin-bottom: -100px;
    }

    @media (max-width: 500px) {
      width: 901px;
      height: 588px;
      margin-left: -40px;
      margin-top: -60px;
      margin-bottom: -120px;
    }
  }

  &__content {
    img {
      max-width: 491px;

      @media (max-width: 1500px) {
        max-width: 450px;
      }
      @media (max-width: 1400px) {
        max-width: 400px;
        margin-bottom: -50px;
      }
      @media (max-width: 1000px) {
        max-width: 300px;
        margin-bottom: -20px;
      }

      @media (max-width: 850px) {
        max-width: 250px;
      }
    }
  }

  &__link {
    display: flex;
    gap: 29px;
    align-items: center;

    @media (max-width: 1300px) {
      flex-direction: column;
      gap: 14px;
      align-items: start;
    }

    @media (max-width: 500px) {
      gap: 7px;
    }

    p {
      font-size: 22px;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: 0.03em;
      color: c.$black;

      @media (max-width: 1300px) {
        font-size: 18px;
      }

      @media (max-width: 500px) {
        font-size: 16px;
        line-height: 24px;
      }


      span {
        color: c.$blue;
      }
    }
  }

  &__btn {
    position: relative;
    width: 187px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: c.$white;
    text-transform: uppercase;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    transition: gap 0.5s ease, box-shadow 0.5s ease;
    overflow: hidden;
    z-index: 1;


    background: linear-gradient(to right, #E13C54 0%, #F83E49 100%);


    box-shadow:
            -2px 2px 2.4px 0 rgba(246, 213, 213, 0.35),
            10px 10px 30px 0 rgba(174, 174, 192, 0.4);


    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to right, #F83E49 0%, #D72B44 100%);
      border-radius: 20px;
      z-index: -1;
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    &:hover {
      gap: 15px;

      &::before {
        opacity: 1;
      }
    }

    @media (max-width: 1300px) {
      width: 175px;
      height: 58px;
      font-size: 16px;
    }

    @media (max-width: 500px) {
      width: 100%;
      height: 39px;
      font-size: 15px;
      line-height: 130%;
      padding-left: 20px;
      padding-right: 20px;
      justify-content: space-between;
    }
  }
}


.svg-animation-container {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  @media (max-width: 750px) {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.svg-animation-container.animation-complete {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


.animate-first-rect,
.animate-first-panel,
.animate-second-rect,
.animate-second-panel,
.animate-third-rect,
.animate-third-panel,
.animate-fourth-rect,
.animate-fourth-panel {
  transform-origin: center !important;
  transform-box: fill-box !important;
  animation: scaleAnimation 1s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.animate-first-rect,
.animate-second-rect,
.animate-third-rect,
.animate-fourth-rect {
  animation-name: scaleAnimationOpacity08;
}

.animate-first-panel,
.animate-second-panel,
.animate-third-panel,
.animate-fourth-panel {
  animation-name: scaleAnimationOpacity1;
}

@keyframes scaleAnimationOpacity08 {
  0% {
    transform: scale(0.01);
    opacity: 0;
  }
  30% {
    transform: scale(1.15);
    opacity: 0.8;
  }
  50% {
    transform: scale(0.95);
    opacity: 0.8;
  }
  70% {
    transform: scale(1.08);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

@keyframes scaleAnimationOpacity1 {
  0% {
    transform: scale(0.01);
    opacity: 0;
  }
  30% {
    transform: scale(1.15);
    opacity: 1;
  }
  50% {
    transform: scale(0.95);
    opacity: 1;
  }
  70% {
    transform: scale(1.08);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

