<footer class="footer">
    <div class="footer__inner">
        <div class="container">
            <div class="footer__top">
                <div class="footer__logo">
                    <a href="#"><include src="assets/svg/footer-logo.html"></include></a>
                    <p>Ландшафт пути к целям компании</p>
                </div>
                <nav class="footer__navigation">
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__link">Решение <span>BLP-finder</span></a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Кейсы</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Новости</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Статьи</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Консультанты</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Доступ консультанта</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">FAQ</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Контакты</a>
                        </li>
                    </ul>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__link">О нас</a>
                            <ul class="footer__sublist">
                                <li class="footer__subitem">
                                    <a href="#" class="footer__sublink">Кто мы?</a>
                                </li>
                                <li class="footer__subitem">
                                    <a href="#" class="footer__sublink">Интеллектуальная собственность</a>
                                </li>
                                <li class="footer__subitem">
                                    <a href="#" class="footer__sublink">Отзывы</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="footer__contacts">
                    <div class="footer__wrapper">
                        <div class="footer__block">
                            <a href="#" class="footer__tg">
                                <include src="assets/svg/footer-tg.html"></include>
                            </a>
                        </div>
                        <div class="footer__block">
                            <a href="tel:+79167801210">+7 916 780 12 10</a>
                            <a href="mailto:vakhin@yandex.ru">vakhin@yandex.ru</a>
                        </div>
                    </div>
                    <div class="footer__btn">
                        <a href="#" class="footer-btn color-btn">Получить решение</a>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="copyright">© 2015–2026 BLP-finder</div>
                <div class="user-agreement-policy">
                    <a href="#">Политика конфиденциальности</a>
                </div>
                <div class="user-agreement">
                    <a href="#">Пользовательское соглашение</a>
                </div>
                <div class="personal-data">
                    <a href="#">Обработка персональных данных</a>
                </div>
                <div class="development">
                    <a href="https://artfactor.ru/">Разработано в «АртФактор»</a>
                </div>
            </div>
        </div>
    </div>
</footer>