<div class="modal-form form-bid">
    <div class="modal-form__inner">
        <h2>Подать заявку</h2>
        <form class="form-modal">
            <fieldset>
                <label>
                    <input type="text" name="name" placeholder="Имя*" required="">
                </label>
                <label>
                    <input type="tel" name="tel" placeholder="Телефон*" data-phone-input="" required="">
                </label>
                <label>
                    <input type="email" name="email" placeholder="E-mail*" data-phone-input="" required="">
                </label>
            </fieldset>
            <fieldset>
                <label>
                    <textarea name="comment" placeholder="Ваш вопрос"></textarea>
                </label>
                <label class="checkbox-label">
                    <input type="checkbox" name="checkbox" required="">
                    <span>
                        Согласен c условиями обработки <a href="#">персональных данных</a> и <a href="#">политикой конфиденциальности</a>
                    </span>
                </label>
                <button class="submit-btn color-btn">
                    Отправить
                </button>
            </fieldset>
        </form>
        <div class="modal-form__close">
            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
                <path d="M37.5963 33.224L26.3729 22.0006L37.5963 10.7771C38.808 9.56543 38.808 7.61465 37.5963 6.40293C36.3846 5.19121 34.4338 5.19121 33.2221 6.40293L21.9986 17.6264L10.7752 6.40293C9.56348 5.19121 7.6127 5.19121 6.40098 6.40293C5.18926 7.61465 5.18926 9.56543 6.40098 10.7771L17.6244 22.0006L6.40098 33.224C5.18926 34.4357 5.18926 36.3865 6.40098 37.5982C7.6127 38.81 9.56348 38.81 10.7752 37.5982L21.9986 26.3748L33.2221 37.5982C34.4338 38.81 36.3846 38.81 37.5963 37.5982C38.7994 36.3865 38.7994 34.4272 37.5963 33.224Z" fill="white"/>
            </svg>
        </div>
    </div>
</div>
<div class="modal-form form-bid">
    <div class="modal-form__inner">
        <h2>Заявка на сертификат консультанта</h2>
        <form class="form-modal">
            <fieldset>
                <label>
                    <input type="text" name="name" placeholder="Имя*" required="">
                </label>
                <label>
                    <input type="tel" name="tel" placeholder="Телефон*" data-phone-input="" required="">
                </label>
                <label>
                    <input type="email" name="email" placeholder="E-mail*" data-phone-input="" required="">
                </label>
            </fieldset>
            <fieldset>
                <label>
                    <textarea name="comment" placeholder="Ваш вопрос"></textarea>
                </label>
                <label class="checkbox-label">
                    <input type="checkbox" name="checkbox" required="">
                    <span>
                        Согласен c условиями обработки <a href="#">персональных данных</a> и <a href="#">политикой конфиденциальности</a>
                    </span>
                </label>
                <button class="submit-btn color-btn">
                    Отправить
                </button>
            </fieldset>
        </form>
        <div class="modal-form__close">
            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
                <path d="M37.5963 33.224L26.3729 22.0006L37.5963 10.7771C38.808 9.56543 38.808 7.61465 37.5963 6.40293C36.3846 5.19121 34.4338 5.19121 33.2221 6.40293L21.9986 17.6264L10.7752 6.40293C9.56348 5.19121 7.6127 5.19121 6.40098 6.40293C5.18926 7.61465 5.18926 9.56543 6.40098 10.7771L17.6244 22.0006L6.40098 33.224C5.18926 34.4357 5.18926 36.3865 6.40098 37.5982C7.6127 38.81 9.56348 38.81 10.7752 37.5982L21.9986 26.3748L33.2221 37.5982C34.4338 38.81 36.3846 38.81 37.5963 37.5982C38.7994 36.3865 38.7994 34.4272 37.5963 33.224Z" fill="white"/>
            </svg>
        </div>
    </div>
</div>
<div class="modal-form form-bid">
    <div class="modal-form__inner">
        <h2>Заявка на сертификат консультанта</h2>
        <form class="form-modal">
            <fieldset>
                <label>
                    <input type="text" name="name" placeholder="Имя*" required="">
                </label>
                <label>
                    <input type="tel" name="tel" placeholder="Телефон*" data-phone-input="" required="">
                </label>
                <label>
                    <input type="email" name="email" placeholder="E-mail*" data-phone-input="" required="">
                </label>
            </fieldset>
            <fieldset>
                <label>
                    <textarea name="comment" placeholder="Ваш вопрос"></textarea>
                </label>
                <label class="checkbox-label">
                    <input type="checkbox" name="checkbox" required="">
                    <span>
                        Согласен c условиями обработки <a href="#">персональных данных</a> и <a href="#">политикой конфиденциальности</a>
                    </span>
                </label>
                <button class="submit-btn color-btn">
                    Отправить
                </button>
            </fieldset>
        </form>
        <div class="modal-form__close">
            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
                <path d="M37.5963 33.224L26.3729 22.0006L37.5963 10.7771C38.808 9.56543 38.808 7.61465 37.5963 6.40293C36.3846 5.19121 34.4338 5.19121 33.2221 6.40293L21.9986 17.6264L10.7752 6.40293C9.56348 5.19121 7.6127 5.19121 6.40098 6.40293C5.18926 7.61465 5.18926 9.56543 6.40098 10.7771L17.6244 22.0006L6.40098 33.224C5.18926 34.4357 5.18926 36.3865 6.40098 37.5982C7.6127 38.81 9.56348 38.81 10.7752 37.5982L21.9986 26.3748L33.2221 37.5982C34.4338 38.81 36.3846 38.81 37.5963 37.5982C38.7994 36.3865 38.7994 34.4272 37.5963 33.224Z" fill="white"/>
            </svg>
        </div>
    </div>
</div>
<div class="modal-form form-question">
    <div class="modal-form__inner">
        <h2>Задать вопрос</h2>
        <form class="form-modal">
            <fieldset>
                <label>
                    <input type="text" name="name" placeholder="Имя*" required="">
                </label>
                <label>
                    <input type="tel" name="tel" placeholder="Телефон*" data-phone-input="" required="">
                </label>
                <label>
                    <input type="email" name="email" placeholder="E-mail*" data-phone-input="" required="">
                </label>
            </fieldset>
            <fieldset>
                <label>
                    <textarea name="comment" placeholder="Ваш вопрос"></textarea>
                </label>
                <label class="checkbox-label">
                    <input type="checkbox" name="checkbox" required="">
                    <span>
                        Согласен c условиями обработки <a href="#">персональных данных</a> и <a href="#">политикой конфиденциальности</a>
                    </span>
                </label>
                <button class="submit-btn color-btn">
                    Отправить
                </button>
            </fieldset>
        </form>
        <div class="modal-form__close">
            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
                <path d="M37.5963 33.224L26.3729 22.0006L37.5963 10.7771C38.808 9.56543 38.808 7.61465 37.5963 6.40293C36.3846 5.19121 34.4338 5.19121 33.2221 6.40293L21.9986 17.6264L10.7752 6.40293C9.56348 5.19121 7.6127 5.19121 6.40098 6.40293C5.18926 7.61465 5.18926 9.56543 6.40098 10.7771L17.6244 22.0006L6.40098 33.224C5.18926 34.4357 5.18926 36.3865 6.40098 37.5982C7.6127 38.81 9.56348 38.81 10.7752 37.5982L21.9986 26.3748L33.2221 37.5982C34.4338 38.81 36.3846 38.81 37.5963 37.5982C38.7994 36.3865 38.7994 34.4272 37.5963 33.224Z" fill="white"/>
            </svg>
        </div>
    </div>
</div>
<div class="modal-form form-solution">
    <div class="modal-form__inner">
        <h2>Получить решение</h2>
        <p>Начните поиск путей улучшения для развития и усиления успеха вашей команды и компании</p>
        <form class="form-modal">
            <fieldset>
                <label>
                    <input type="text" name="name" placeholder="Имя*" required="">
                </label>
                <label>
                    <input type="tel" name="tel" placeholder="Телефон*" data-phone-input="" required="">
                </label>
                <label>
                    <input type="email" name="email" placeholder="E-mail*" data-phone-input="" required="">
                </label>
            </fieldset>
            <fieldset>
                <label>
                    <textarea name="comment" placeholder="Ваш вопрос"></textarea>
                </label>
                <label class="checkbox-label">
                    <input type="checkbox" name="checkbox" required="">
                    <span>
                        Согласен c условиями обработки <a href="#">персональных данных</a> и <a href="#">политикой конфиденциальности</a>
                    </span>
                </label>
                <button class="submit-btn color-btn">
                    Отправить заявку
                </button>
            </fieldset>
        </form>
        <div class="modal-form__close">
            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
                <path d="M37.5963 33.224L26.3729 22.0006L37.5963 10.7771C38.808 9.56543 38.808 7.61465 37.5963 6.40293C36.3846 5.19121 34.4338 5.19121 33.2221 6.40293L21.9986 17.6264L10.7752 6.40293C9.56348 5.19121 7.6127 5.19121 6.40098 6.40293C5.18926 7.61465 5.18926 9.56543 6.40098 10.7771L17.6244 22.0006L6.40098 33.224C5.18926 34.4357 5.18926 36.3865 6.40098 37.5982C7.6127 38.81 9.56348 38.81 10.7752 37.5982L21.9986 26.3748L33.2221 37.5982C34.4338 38.81 36.3846 38.81 37.5963 37.5982C38.7994 36.3865 38.7994 34.4272 37.5963 33.224Z" fill="white"/>
            </svg>
        </div>
    </div>
</div>
<!--<div class="modal-form form-authorization">
    <div class="modal-form__inner">
        <h2>Войти</h2>
        <form class="form-modal">
            <fieldset>
                <label>
                    <input type="text" name="login" placeholder="Логин*" required="" autocomplete="username">
                </label>
                <label>
                    <input type="password" name="password"  placeholder="Пароль" autocomplete="current-password" required>
                </label>
            </fieldset>
            <fieldset>
                <a href="#" class="restore-link">
                    Я забыл пароль
                </a>
            </fieldset>
            <fieldset>
                <button class="submit-btn color-btn">
                    Отправить заявку
                </button>
                <a href="#" class="registration-link">Зарегистирироваться</a>
            </fieldset>
        </form>
        <div class="modal-form__close">
            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
                <path d="M37.5963 33.224L26.3729 22.0006L37.5963 10.7771C38.808 9.56543 38.808 7.61465 37.5963 6.40293C36.3846 5.19121 34.4338 5.19121 33.2221 6.40293L21.9986 17.6264L10.7752 6.40293C9.56348 5.19121 7.6127 5.19121 6.40098 6.40293C5.18926 7.61465 5.18926 9.56543 6.40098 10.7771L17.6244 22.0006L6.40098 33.224C5.18926 34.4357 5.18926 36.3865 6.40098 37.5982C7.6127 38.81 9.56348 38.81 10.7752 37.5982L21.9986 26.3748L33.2221 37.5982C34.4338 38.81 36.3846 38.81 37.5963 37.5982C38.7994 36.3865 38.7994 34.4272 37.5963 33.224Z" fill="white"/>
            </svg>
        </div>
    </div>
</div>
<div class="modal-form form-registration">
    <div class="modal-form__inner">
        <h2>Доступ к материалам</h2>
        <p>Вы получаете полный доступ к материалам (текст призывающий к регистрации)</p>
        <form class="form-modal">
            <fieldset>
                <label>
                    <input type="text" name="name" placeholder="Имя*" required="">
                </label>
                <label>
                    <input type="tel" name="tel" placeholder="Телефон*" data-phone-input="" required="">
                </label>
                <label>
                    <input type="email" name="email" placeholder="E-mail*" data-phone-input="" required="">
                </label>
            </fieldset>
            <fieldset>
                <label>
                    <textarea name="comment" placeholder="Ваш вопрос"></textarea>
                </label>
                <label class="checkbox-label">
                    <input type="checkbox" name="checkbox" required="">
                    <span>
                        Согласен c условиями обработки <a href="#">персональных данных</a> и <a href="#">политикой конфиденциальности</a>
                    </span>
                </label>
                <button class="submit-btn color-btn">
                    Получить доступ
                </button>
            </fieldset>
        </form>
        <div class="modal-form__close">
            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
                <path d="M37.5963 33.224L26.3729 22.0006L37.5963 10.7771C38.808 9.56543 38.808 7.61465 37.5963 6.40293C36.3846 5.19121 34.4338 5.19121 33.2221 6.40293L21.9986 17.6264L10.7752 6.40293C9.56348 5.19121 7.6127 5.19121 6.40098 6.40293C5.18926 7.61465 5.18926 9.56543 6.40098 10.7771L17.6244 22.0006L6.40098 33.224C5.18926 34.4357 5.18926 36.3865 6.40098 37.5982C7.6127 38.81 9.56348 38.81 10.7752 37.5982L21.9986 26.3748L33.2221 37.5982C34.4338 38.81 36.3846 38.81 37.5963 37.5982C38.7994 36.3865 38.7994 34.4272 37.5963 33.224Z" fill="white"/>
            </svg>
        </div>
    </div>
</div>-->
<div class="overlay"></div>